In [434]:
"""
    Feature engineering in training data and building up the model
"""

'\n    Feature engineering in training data and building up the model\n'

In [485]:
from sklearn import preprocessing
import numpy as np
import pandas as pd

In [486]:
# Retrieving previous saved data
df_laliga = pd.read_csv("laliga.csv") 
df_laliga = df_laliga.drop(df_laliga.columns[0], axis=1)
df_laliga = df_laliga.drop(columns=["stats_home","stats_away"], axis=1)

In [487]:
# None values set to 0
df_laliga.fillna(value=0, inplace=True)

In [488]:
# g_diff_home: an integer of the goals difference for home
df_laliga["g_diff_home"] = df_laliga["goals_home"] - df_laliga["goals_away"]
df_laliga.head()

,goals_home,goals_away,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,team_home.goals_diff,team_home.form,team_home.description,team_home.stats_home.played,...,stats_away.corners,stats_away.offside,stats_away.possession,stats_away.c_yellow,stats_away.c_red,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,g_diff_home
0,2.0,0.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,8.0,1.0,40%,1.0,0.0,4.0,340.0,250.0,74%,2.0
1,4.0,4.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,7.0,6.0,46%,1.0,0.0,3.0,380.0,311.0,82%,0.0
2,2.0,2.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,8.0,2.0,57%,4.0,1.0,3.0,551.0,488.0,89%,0.0
3,0.0,0.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,6.0,3.0,47%,1.0,0.0,3.0,462.0,361.0,78%,0.0
4,1.0,2.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,10.0,1.0,48%,2.0,0.0,2.0,425.0,347.0,82%,-1.0

In [489]:
# g_diff_away: an integer of the goals difference for away
df_laliga["g_diff_away"] = df_laliga["goals_away"] - df_laliga["goals_home"]
df_laliga.head()

,goals_home,goals_away,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,team_home.goals_diff,team_home.form,team_home.description,team_home.stats_home.played,...,stats_away.offside,stats_away.possession,stats_away.c_yellow,stats_away.c_red,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,g_diff_home,g_diff_away
0,2.0,0.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,1.0,40%,1.0,0.0,4.0,340.0,250.0,74%,2.0,-2.0
1,4.0,4.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,6.0,46%,1.0,0.0,3.0,380.0,311.0,82%,0.0,0.0
2,2.0,2.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,2.0,57%,4.0,1.0,3.0,551.0,488.0,89%,0.0,0.0
3,0.0,0.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,3.0,47%,1.0,0.0,3.0,462.0,361.0,78%,0.0,0.0
4,1.0,2.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,1.0,48%,2.0,0.0,2.0,425.0,347.0,82%,-1.0,1.0

In [490]:
# Set win as 1, draw as 0 and lose as -1
def get_status(r):
    if r["goals_home"] > r["goals_away"]:
        return 1
    elif r["goals_home"] == r["goals_away"]:
        return 0
    else:
        return -1

In [491]:
"""
    Form: last 5 losses
        last 5 wins
        last 5 draws
"""
# Home
df_laliga["wins_home"] = df_laliga["team_home.form"].apply(lambda x: x.count('W'))
df_laliga["loses_home"] = df_laliga["team_home.form"].apply(lambda x: x.count('L'))
df_laliga["draws_home"] = df_laliga["team_home.form"].apply(lambda x: x.count('D'))
# Away
df_laliga["wins_away"] = df_laliga["team_away.form"].apply(lambda x: x.count('W'))
df_laliga["loses_away"] = df_laliga["team_away.form"].apply(lambda x: x.count('L'))
df_laliga["draws_away"] = df_laliga["team_away.form"].apply(lambda x: x.count('D'))

df_laliga.head()

,goals_home,goals_away,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,team_home.goals_diff,team_home.form,team_home.description,team_home.stats_home.played,...,stats_away.p_accurate,stats_away.p_percentage,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,2.0,0.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,250.0,74%,2.0,-2.0,3,2,0,1,2,2
1,4.0,4.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,311.0,82%,0.0,0.0,3,2,0,2,2,1
2,2.0,2.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,488.0,89%,0.0,0.0,3,2,0,5,0,0
3,0.0,0.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,361.0,78%,0.0,0.0,3,2,0,3,0,2
4,1.0,2.0,533,Villarreal,5,57,11,LWLWW,Promotion - Europa League (Group Stage),18,...,347.0,82%,-1.0,1.0,3,2,0,2,2,1

In [492]:
# Promotion: either Champions, UEFA Europe, Second division
# Label encoder vs Noramlize unicode encoder
description = np.unique(df_laliga["team_home.description"].astype(str))
enc = preprocessing.LabelEncoder()
enc.fit(description)
df_laliga["team_home.description"] = enc.transform(df_laliga["team_home.description"].astype(str))
df_laliga["team_away.description"] = enc.transform(df_laliga["team_away.description"].astype(str))
df_laliga.head()

,goals_home,goals_away,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,team_home.goals_diff,team_home.form,team_home.description,team_home.stats_home.played,...,stats_away.p_accurate,stats_away.p_percentage,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,2.0,0.0,533,Villarreal,5,57,11,LWLWW,2,18,...,250.0,74%,2.0,-2.0,3,2,0,1,2,2
1,4.0,4.0,533,Villarreal,5,57,11,LWLWW,2,18,...,311.0,82%,0.0,0.0,3,2,0,2,2,1
2,2.0,2.0,533,Villarreal,5,57,11,LWLWW,2,18,...,488.0,89%,0.0,0.0,3,2,0,5,0,0
3,0.0,0.0,533,Villarreal,5,57,11,LWLWW,2,18,...,361.0,78%,0.0,0.0,3,2,0,3,0,2
4,1.0,2.0,533,Villarreal,5,57,11,LWLWW,2,18,...,347.0,82%,-1.0,1.0,3,2,0,2,2,1

In [493]:
def score_home(best):
    if best != 0:
        return int(best[0]) - int(best[2])
    return best

In [494]:
def score_away(best):
    if best != 0:
        return int(best[2]) - int(best[0])
    return best

In [495]:
# For best_lose
df_laliga["team_away.stats_home.streaks.best_lose"] = df_laliga["team_away.stats_home.streaks.best_lose"].apply(score_home)
df_laliga["team_away.stats_away.streaks.best_lose"] = df_laliga["team_away.stats_away.streaks.best_lose"].apply(score_away)
# For best_win
df_laliga["team_away.stats_home.streaks.best_win"] = df_laliga["team_away.stats_home.streaks.best_win"].apply(score_home)
df_laliga["team_away.stats_away.streaks.best_win"] = df_laliga["team_away.stats_away.streaks.best_win"].apply(score_away)
df_laliga.head()

,goals_home,goals_away,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,team_home.goals_diff,team_home.form,team_home.description,team_home.stats_home.played,...,stats_away.p_accurate,stats_away.p_percentage,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,2.0,0.0,533,Villarreal,5,57,11,LWLWW,2,18,...,250.0,74%,2.0,-2.0,3,2,0,1,2,2
1,4.0,4.0,533,Villarreal,5,57,11,LWLWW,2,18,...,311.0,82%,0.0,0.0,3,2,0,2,2,1
2,2.0,2.0,533,Villarreal,5,57,11,LWLWW,2,18,...,488.0,89%,0.0,0.0,3,2,0,5,0,0
3,0.0,0.0,533,Villarreal,5,57,11,LWLWW,2,18,...,361.0,78%,0.0,0.0,3,2,0,3,0,2
4,1.0,2.0,533,Villarreal,5,57,11,LWLWW,2,18,...,347.0,82%,-1.0,1.0,3,2,0,2,2,1

In [496]:
# For best_lose
df_laliga["team_home.stats_home.streaks.best_lose"] = df_laliga["team_home.stats_home.streaks.best_lose"].apply(score_home)
df_laliga["team_home.stats_away.streaks.best_lose"] = df_laliga["team_home.stats_away.streaks.best_lose"].apply(score_away)
# For best_win
df_laliga["team_home.stats_home.streaks.best_win"] = df_laliga["team_home.stats_home.streaks.best_win"].apply(score_home)
df_laliga["team_home.stats_away.streaks.best_win"] = df_laliga["team_home.stats_away.streaks.best_win"].apply(score_away)
df_laliga.head()

,goals_home,goals_away,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,team_home.goals_diff,team_home.form,team_home.description,team_home.stats_home.played,...,stats_away.p_accurate,stats_away.p_percentage,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,2.0,0.0,533,Villarreal,5,57,11,LWLWW,2,18,...,250.0,74%,2.0,-2.0,3,2,0,1,2,2
1,4.0,4.0,533,Villarreal,5,57,11,LWLWW,2,18,...,311.0,82%,0.0,0.0,3,2,0,2,2,1
2,2.0,2.0,533,Villarreal,5,57,11,LWLWW,2,18,...,488.0,89%,0.0,0.0,3,2,0,5,0,0
3,0.0,0.0,533,Villarreal,5,57,11,LWLWW,2,18,...,361.0,78%,0.0,0.0,3,2,0,3,0,2
4,1.0,2.0,533,Villarreal,5,57,11,LWLWW,2,18,...,347.0,82%,-1.0,1.0,3,2,0,2,2,1

In [497]:
# Posession % to decimal as p_percentage
df_laliga["stats_away.p_percentage"] = df_laliga["stats_away.p_percentage"].apply(lambda x: (int(str(x).strip('%'))/100))
df_laliga["stats_home.p_percentage"] = df_laliga["stats_home.p_percentage"].apply(lambda x: (int(str(x).strip('%'))/100))
df_laliga["stats_away.possession"] = df_laliga["stats_away.possession"].apply(lambda x: (int(str(x).strip('%'))/100))
df_laliga["stats_home.possession"] = df_laliga["stats_home.possession"].apply(lambda x: (int(str(x).strip('%'))/100))
df_laliga.head()

,goals_home,goals_away,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,team_home.goals_diff,team_home.form,team_home.description,team_home.stats_home.played,...,stats_away.p_accurate,stats_away.p_percentage,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,2.0,0.0,533,Villarreal,5,57,11,LWLWW,2,18,...,250.0,0.74,2.0,-2.0,3,2,0,1,2,2
1,4.0,4.0,533,Villarreal,5,57,11,LWLWW,2,18,...,311.0,0.82,0.0,0.0,3,2,0,2,2,1
2,2.0,2.0,533,Villarreal,5,57,11,LWLWW,2,18,...,488.0,0.89,0.0,0.0,3,2,0,5,0,0
3,0.0,0.0,533,Villarreal,5,57,11,LWLWW,2,18,...,361.0,0.78,0.0,0.0,3,2,0,3,0,2
4,1.0,2.0,533,Villarreal,5,57,11,LWLWW,2,18,...,347.0,0.82,-1.0,1.0,3,2,0,2,2,1

In [498]:
# Remove categorical values as team_away and team_home names, team_home.form
df_laliga = df_laliga.drop(columns=["team_home.team.name","team_away.team.name","team_home.form","team_away.form"])
df_laliga.head()
print(df_laliga.shape)

(380, 120)

In [499]:
"""
    Following this premise:
    - Away standings from home team aren't relevant
    - Home standings from away team aren't relevant
"""
# Drop away standings
df_premise = df_laliga.drop(df_laliga.filter(regex='team_away.stats_home.').columns, axis=1)
df_premise = df_laliga.drop(df_laliga.filter(regex='team_home.stats_away.').columns, axis=1)
print(df_premise.shape)

(380, 103)

In [500]:
"""
    Here the unseen data will be built as test set
"""
p37 = [[531, 537], [529, 727], [543, 542], [538, 539], [545, 720], [546, 530], [798, 715], 
       [541, 533], [548, 536], [532, 540], [542, 529], [530, 548], [540, 538], [715, 531], [537, 541], [539, 546], [727, 798], 
       [536, 532], [533, 545], [720, 543]]
p38 = [[542, 529], [530, 548], [540, 538], [715, 531], [537, 541], [539, 546], [727, 798], 
       [536, 532], [533, 545], [720, 543]]

In [501]:
# Getting previous record
ts_laliga = pd.DataFrame()
ts_premise = pd.DataFrame()
for match in p37:
    ts_laliga = ts_laliga.append(df_laliga[(df_laliga["team_home.team.id"]==match[0]) & (df_laliga["team_away.team.id"]==match[1])])
    ts_premise = ts_premise.append(df_premise[(df_premise["team_home.team.id"]==match[0]) & (df_premise["team_away.team.id"]==match[1])])
ts_premise.head()

,goals_home,goals_away,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,...,stats_away.p_accurate,stats_away.p_percentage,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
243,0.0,0.0,531,8,51,9,0,18,9,4,...,0.0,0.0,0.0,0.0,3,2,0,2,2,1
110,0.0,0.0,529,2,79,44,1,18,16,2,...,0.0,0.0,0.0,0.0,3,0,2,3,1,1
70,0.0,0.0,543,13,41,-9,0,18,9,4,...,0.0,0.0,0.0,0.0,1,3,1,0,4,1
220,0.0,0.0,538,16,36,-11,0,18,5,8,...,0.0,0.0,0.0,0.0,0,2,3,1,2,2
121,0.0,0.0,545,15,39,-15,0,18,7,3,...,0.0,0.0,0.0,0.0,2,2,1,1,2,2

In [502]:
print(ts_laliga.shape)
print(ts_premise.shape)

(20, 120)
(20, 103)

In [503]:
# This is done before training, after building testing
for match in p37:
    df_laliga = df_laliga.drop(df_laliga[(df_laliga["team_home.team.id"]==match[0]) & (df_laliga["team_away.team.id"]==match[1])].index)
    df_premise = df_premise.drop(df_premise[(df_premise["team_home.team.id"]==match[0]) & (df_premise["team_away.team.id"]==match[1])].index)
#for match in p38:
    #df_laliga = df_laliga.drop(df_laliga[(df_laliga["team_home.team.id"]==match[0]) & (df_laliga["team_away.team.id"]==match[1])].index)
    #df_premise = df_premise.drop(df_premise[(df_premise["team_home.team.id"]==match[0]) & (df_premise["team_away.team.id"]==match[1])].index)
print(df_laliga.shape)
print(df_premise.shape)

(360, 120)
(360, 103)

In [504]:
# status_home: either win, draw or lose for home team, predicted label
label = []
for index, row in df_laliga.iterrows():
    label.append(get_status(row))
print(label)

[1, 0, 0, 0, -1, -1, 1, 1, 1, 0, 1, 1, -1, 0, -1, 1, 1, -1, 1, -1, 0, 1, 0, -1, 1, -1, 1, -1, -1, 1, 1, -1, 0, 1, -1, 1, 1, 0, 1, 1, 0, 0, -1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, -1, -1, 1, 1, 1, 1, 0, 1, 0, -1, -1, 1, 1, -1, 0, 1, 1, -1, 0, 1, 1, 1, -1, 1, 1, -1, 1, 0, 1, -1, -1, 0, -1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, 0, 1, -1, -1, -1, 1, -1, -1, 1, 1, 0, 0, 1, -1, 1, 0, 1, -1, 1, 1, -1, 1, -1, 1, 0, 0, 1, 0, 1, -1, 0, 0, -1, -1, -1, -1, 0, 0, 0, 1, -1, -1, -1, 0, -1, 1, 1, -1, 1, 1, -1, 0, 1, 0, 0, 1, 1, -1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, -1, 0, -1, 1, 1, -1, 1, 1, -1, 0, -1, 1, 1, -1, -1, 0, 1, 0, 1, 1, -1, 0, 0, -1, 0, -1, 0, 0, 1, 0, -1, 1, 1, 0, 0, 1, -1, 1, -1, 1, 1, 1, 1, 1, -1, 0, 0, -1, 0, 1, 1, 1, -1, 0, 1, 0, 1, 1, 0, 0, 1, -1, 0, 1, 1, 0, -1, -1, -1, 1, -1, 0, -1, 0, -1, 1, -1, 0, -1, 0, -1, -1, 0, -1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, -1, 1, -1, 0, 0, 1, 1, -1, 1, 1, 0, 1, 0, 0, 0, -1, 1, 1, -1, 1, -1, 1, 0, -1, 1, 1, 1, 1, -1, -1, 0, 1, 0, 1, -1, -1, -1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, -1, -1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, -1, -1, 0, 0, 1, -1, -1, 0, 0, 1, -1]

In [505]:
# Missing linear regression for goals_home and goals_away, as goal_diff
df_laliga = df_laliga.drop(columns=["goals_away","goals_home","g_diff_away","g_diff_home"])
print(df_laliga.shape)
df_premise = df_premise.drop(columns=["goals_away","goals_home","g_diff_away","g_diff_home"])
ts_laliga = ts_laliga.drop(columns=["goals_away","goals_home","g_diff_away","g_diff_home"])
ts_premise = ts_premise.drop(columns=["goals_away","goals_home","g_diff_away","g_diff_home"])

(360, 116)

In [506]:
# La liga
# GET avg for team_home.stats_home. team_home.stats_away. team_away.stats_home. team_away.stats_away.
columns_home = df_laliga.filter(regex='^stats_home').columns
#columns_g_home = df_laliga.filter(["goals_home","g_diff_home"]).columns
#columns_home = columns_home.append(columns_g_home)
avg_home_laliga = df_laliga.groupby("team_home.team.id", as_index=True)[columns_home].mean()
avg_home_laliga.head()

,stats_home.s_on_g,stats_home.s_off_g,stats_home.s_in,stats_home.s_out,stats_home.s_total,stats_home.s_blocked,stats_home.fouls,stats_home.corners,stats_home.offside,stats_home.possession,stats_home.c_yellow,stats_home.c_red,stats_home.saves,stats_home.p_total,stats_home.p_accurate,stats_home.p_percentage
team_home.team.id,,,,,,,,,,,,,,,,
529,6.722222,4.500000,14.333333,3.111111,9.444444,4.888889,10.555556,5.055556,2.500000,0.662778,2.333333,0.166667,1.888889,725.777778,648.000000,0.890000
530,4.277778,5.666667,13.611111,3.666667,8.833333,4.777778,13.444444,5.666667,3.000000,0.481667,2.055556,0.111111,2.000000,425.222222,341.055556,0.798333
531,4.500000,5.833333,13.111111,2.777778,8.388889,4.722222,13.722222,5.111111,2.888889,0.497778,2.777778,0.000000,2.388889,410.833333,323.277778,0.777778
532,4.000000,3.888889,10.166667,2.277778,6.888889,3.277778,10.944444,4.555556,2.833333,0.486111,2.000000,0.055556,2.777778,442.444444,363.388889,0.818333
533,5.055556,5.833333,13.777778,2.888889,9.111111,4.666667,12.166667,3.833333,2.555556,0.535556,2.166667,0.000000,3.277778,487.500000,406.222222,0.829444

In [507]:
columns_away = df_laliga.filter(regex='^stats_away').columns
#columns_g_away = df_laliga.filter(["goals_away","g_diff_away"]).columns
#columns_away = columns_home.append(columns_g_away)
avg_away_laliga = df_laliga.groupby("team_away.team.id", as_index=True)[columns_away].mean()
avg_away_laliga.head(10)

,stats_away.s_on_g,stats_away.s_off_g,stats_away.s_in,stats_away.s_out,stats_away.s_total,stats_away.s_blocked,stats_away.fouls,stats_away.corners,stats_away.offside,stats_away.possession,stats_away.c_yellow,stats_away.c_red,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage
team_away.team.id,,,,,,,,,,,,,,,,
529,5.111111,3.111111,11.222222,3.000000,7.333333,3.888889,11.333333,4.611111,1.833333,0.666111,2.555556,0.166667,2.500000,682.166667,601.166667,0.878333
530,3.444444,4.444444,10.333333,2.444444,6.888889,3.444444,13.555556,4.222222,3.111111,0.481667,2.944444,0.055556,2.500000,416.555556,322.611111,0.771111
531,2.777778,3.944444,8.611111,1.888889,4.611111,4.000000,14.055556,4.444444,1.611111,0.458333,2.000000,0.055556,2.500000,364.555556,264.888889,0.720556
532,2.388889,3.666667,7.611111,1.555556,4.611111,3.000000,11.333333,4.222222,2.500000,0.499444,2.333333,0.333333,4.388889,435.888889,354.444444,0.806111
533,4.166667,5.388889,12.555556,3.000000,7.555556,5.000000,13.722222,4.055556,1.166667,0.525000,2.055556,0.000000,2.777778,471.722222,384.500000,0.807222
536,4.666667,4.166667,11.611111,2.777778,7.777778,3.833333,14.111111,4.777778,2.611111,0.557222,2.888889,0.055556,2.055556,492.611111,402.555556,0.812222
537,3.777778,4.111111,10.555556,2.666667,6.111111,4.444444,15.555556,3.888889,2.111111,0.422778,3.611111,0.111111,2.833333,331.777778,237.333333,0.706667
538,3.555556,3.000000,8.388889,1.833333,5.111111,3.277778,12.611111,4.388889,1.666667,0.507778,2.833333,0.055556,3.277778,435.277778,348.333333,0.795000
539,3.444444,4.444444,10.944444,3.055556,6.277778,4.666667,12.333333,5.000000,2.055556,0.485556,2.166667,0.055556,4.444444,379.000000,294.500000,0.772222
540,2.833333,3.888889,9.444444,2.722222,5.500000,3.944444,15.000000,4.166667,1.166667,0.442778,3.111111,0.388889,2.833333,349.722222,251.888889,0.696111

In [508]:
i_th = ts_laliga.columns.get_loc("team_home.team.id")
i_ta = ts_laliga.columns.get_loc("team_away.team.id")
for i in range(len(ts_laliga)):
    for index, row in avg_home_laliga.iterrows():
        if ts_laliga.iloc[i,i_th] == index:
            for c in columns_home:
                try:
                    i_c = ts_laliga.columns.get_loc(c)
                    ts_laliga.iloc[i,i_c] = row[c]
                except:
                    print(index, c)
for i in range(0, len(ts_laliga)):
    for index, row in avg_away_laliga.iterrows():
        if ts_laliga.iloc[i,i_ta] == index:
            for c in columns_away:
                try:
                    i_c = ts_laliga.columns.get_loc(c)
                    ts_laliga.iloc[i,i_c] = row[c]
                except:
                    print(index, c)
ts_laliga.head(10)

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,...,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
243,531,8,51,9,0,18,9,4,5,21.0,...,2.833333,331.777778,237.333333,0.706667,3,2,0,2,2,1
110,529,2,79,44,1,18,16,2,0,51.0,...,2.777778,358.055556,248.777778,0.688333,3,0,2,3,1,1
70,543,13,41,-9,0,18,9,4,5,33.0,...,3.166667,307.555556,210.111111,0.677778,1,3,1,0,4,1
220,538,16,36,-11,0,18,5,8,5,20.0,...,4.444444,379.000000,294.500000,0.772222,0,2,3,1,2,2
121,545,15,39,-15,0,18,7,3,8,22.0,...,3.000000,357.500000,264.055556,0.731111,2,2,1,1,2,2
308,546,6,54,9,2,18,8,6,4,25.0,...,2.500000,416.555556,322.611111,0.771111,1,2,2,3,0,2
34,798,19,32,-24,4,18,8,3,7,24.0,...,2.888889,322.166667,227.722222,0.692778,2,3,0,2,2,1
298,541,1,83,44,1,18,14,4,0,38.0,...,2.777778,471.722222,384.500000,0.807222,5,0,0,3,2,0
332,548,7,54,8,3,18,9,3,6,33.0,...,2.055556,492.611111,402.555556,0.812222,2,2,1,4,0,1
41,532,9,50,-7,0,18,10,7,1,28.0,...,2.833333,349.722222,251.888889,0.696111,1,3,1,0,5,0

In [509]:
# Premise
# GET avg for team_home.stats_home. team_away.stats_away.
i_th = ts_premise.columns.get_loc("team_home.team.id")
i_ta = ts_premise.columns.get_loc("team_away.team.id")
for i in range(len(ts_premise)):
    for index, row in avg_home_laliga.iterrows():
        if ts_premise.iloc[i,i_th] == index:
            for c in columns_home:
                try:
                    i_c = ts_premise.columns.get_loc(c)
                    ts_premise.iloc[i,i_c] = row[c]
                except:
                    print(index, c)
for i in range(0, len(ts_premise)):
    for index, row in avg_away_laliga.iterrows():
        if ts_premise.iloc[i,i_ta] == index:
            for c in columns_away:
                try:
                    i_c = ts_premise.columns.get_loc(c)
                    ts_premise.iloc[i,i_c] = row[c]
                except:
                    print(index, c)
ts_premise.head(10)

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,...,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
243,531,8,51,9,0,18,9,4,5,21.0,...,2.833333,331.777778,237.333333,0.706667,3,2,0,2,2,1
110,529,2,79,44,1,18,16,2,0,51.0,...,2.777778,358.055556,248.777778,0.688333,3,0,2,3,1,1
70,543,13,41,-9,0,18,9,4,5,33.0,...,3.166667,307.555556,210.111111,0.677778,1,3,1,0,4,1
220,538,16,36,-11,0,18,5,8,5,20.0,...,4.444444,379.000000,294.500000,0.772222,0,2,3,1,2,2
121,545,15,39,-15,0,18,7,3,8,22.0,...,3.000000,357.500000,264.055556,0.731111,2,2,1,1,2,2
308,546,6,54,9,2,18,8,6,4,25.0,...,2.500000,416.555556,322.611111,0.771111,1,2,2,3,0,2
34,798,19,32,-24,4,18,8,3,7,24.0,...,2.888889,322.166667,227.722222,0.692778,2,3,0,2,2,1
298,541,1,83,44,1,18,14,4,0,38.0,...,2.777778,471.722222,384.500000,0.807222,5,0,0,3,2,0
332,548,7,54,8,3,18,9,3,6,33.0,...,2.055556,492.611111,402.555556,0.812222,2,2,1,4,0,1
41,532,9,50,-7,0,18,10,7,1,28.0,...,2.833333,349.722222,251.888889,0.696111,1,3,1,0,5,0

In [510]:
"""
    Three algorithms:
        - SVM
        - PCA
        - Naive Bayes
    To train, both: premise and regular data
"""

'\n    Three algorithms:\n        - SVM\n        - PCA\n        - Naive Bayes\n    To train, both: premise and regular data\n'

In [511]:
results_laliga = ts_laliga.copy()
results_premise = ts_premise.copy()

In [512]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [513]:
# For PCA teams' ids will be removed
pca_laliga = df_laliga.drop(columns=["team_home.team.id","team_away.team.id"], axis=1)
pca_premise = df_premise.drop(columns=["team_home.team.id","team_away.team.id"], axis=1)
pca_test_laliga = ts_laliga.drop(columns=["team_home.team.id","team_away.team.id"], axis=1)
pca_test_premise = ts_premise.drop(columns=["team_home.team.id","team_away.team.id"], axis=1)

In [514]:
# Standardizing the features
pca_laliga = StandardScaler().fit_transform(pca_laliga)
pca_premise = StandardScaler().fit_transform(pca_premise)
pca_test_laliga = StandardScaler().fit_transform(pca_test_laliga)
pca_test_premise = StandardScaler().fit_transform(pca_test_premise)
# Performs pca to reduce to 20 components
pca_fi = PCA(n_components=20)
pca_laliga_fi = pca_fi.fit_transform(pca_laliga)
pca_premise_fi = pca_fi.fit_transform(pca_premise)
pca_test_laliga_fi = pca_fi.fit_transform(pca_test_laliga)
pca_test_premise_fi = pca_fi.fit_transform(pca_test_premise)
# Performs pca to reduce to 15 components
pca_tw = PCA(n_components=15)
pca_laliga_tw = pca_tw.fit_transform(pca_laliga)
pca_premise_tw = pca_tw.fit_transform(pca_premise)
pca_test_laliga_tw = pca_tw.fit_transform(pca_test_laliga)
pca_test_premise_tw = pca_tw.fit_transform(pca_test_premise)

In [515]:
# SVM algorithm, using premise
from sklearn.svm import SVC
sv_p = SVC(gamma='auto')
sv_p.fit(pca_premise, label)
results_premise["svm"] = sv_p.predict(pca_test_premise)
results_premise.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,...,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away,svm
243,531,8,51,9,0,18,9,4,5,21.0,...,331.777778,237.333333,0.706667,3,2,0,2,2,1,1
110,529,2,79,44,1,18,16,2,0,51.0,...,358.055556,248.777778,0.688333,3,0,2,3,1,1,1
70,543,13,41,-9,0,18,9,4,5,33.0,...,307.555556,210.111111,0.677778,1,3,1,0,4,1,1
220,538,16,36,-11,0,18,5,8,5,20.0,...,379.000000,294.500000,0.772222,0,2,3,1,2,2,1
121,545,15,39,-15,0,18,7,3,8,22.0,...,357.500000,264.055556,0.731111,2,2,1,1,2,2,1

In [516]:
print(results_premise["svm"])

243    1
110    1
70     1
220    1
121    1
308    0
34    -1
298    1
332   -1
41     1
148   -1
183    1
283   -1
94     1
152   -1
191   -1
377    1
259    1
5      1
343    0
Name: svm, dtype: int64

In [517]:
# SVM, Not using premise
sv = SVC(gamma='auto')
sv.fit(pca_laliga, label)
results_laliga["svm"] = sv.predict(pca_test_laliga)
results_laliga.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,...,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away,svm
243,531,8,51,9,0,18,9,4,5,21.0,...,331.777778,237.333333,0.706667,3,2,0,2,2,1,1
110,529,2,79,44,1,18,16,2,0,51.0,...,358.055556,248.777778,0.688333,3,0,2,3,1,1,1
70,543,13,41,-9,0,18,9,4,5,33.0,...,307.555556,210.111111,0.677778,1,3,1,0,4,1,1
220,538,16,36,-11,0,18,5,8,5,20.0,...,379.000000,294.500000,0.772222,0,2,3,1,2,2,1
121,545,15,39,-15,0,18,7,3,8,22.0,...,357.500000,264.055556,0.731111,2,2,1,1,2,2,1

In [518]:
print(results_laliga["svm"])

243    1
110    1
70     1
220    1
121    1
308    0
34    -1
298    1
332   -1
41     1
148   -1
183    1
283   -1
94     1
152   -1
191   -1
377    1
259    1
5      1
343    0
Name: svm, dtype: int64

In [519]:
# SVM using premise with PCA
sv_p_fi = SVC(gamma='auto')
sv_p_fi.fit(pca_premise_fi, label)
results_premise["svm_pca_fi"] = sv_p_fi.predict(pca_test_premise_fi)
print(results_premise["svm_pca_fi"])
sv_p_tw = SVC(gamma='auto')
sv_p_tw.fit(pca_premise_tw, label)
results_premise["svm_pca_tw"] = sv_p_tw.predict(pca_test_premise_tw)
print(results_premise["svm_pca_tw"])

243    0
110    1
70     1
220    1
121    1
308   -1
34     1
298    1
332    0
41     1
148    1
183    1
283    1
94     1
152    1
191    1
377    1
259    1
5      1
343    1
Name: svm_pca_fi, dtype: int64
243    1
110    1
70     1
220    1
121    1
308   -1
34     1
298    1
332    1
41     1
148    1
183    1
283    1
94     1
152    1
191    1
377    1
259    1
5      1
343    1
Name: svm_pca_tw, dtype: int64

In [520]:
# SVM, Not using premise with PCA
sv_fi = SVC(gamma='auto')
sv_fi.fit(pca_laliga_fi, label)
results_laliga["svm_pca_fi"] = sv_fi.predict(pca_test_laliga_fi)
print(results_laliga["svm_pca_fi"])
sv_tw = SVC(gamma='auto')
sv_tw.fit(pca_laliga_tw, label)
results_laliga["svm_pca_tw"] = sv_tw.predict(pca_test_laliga_tw)
print(results_laliga["svm_pca_tw"])

243    1
110    1
70     1
220    1
121    0
308    1
34     1
298    1
332    1
41     1
148    1
183    1
283    1
94     1
152   -1
191    1
377    1
259    1
5      1
343    1
Name: svm_pca_fi, dtype: int64
243    1
110    1
70     1
220    1
121    1
308    1
34     1
298    1
332    1
41     1
148    1
183    1
283    1
94     1
152   -1
191    1
377    1
259    1
5      1
343    1
Name: svm_pca_tw, dtype: int64

In [521]:
df_premise.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,...,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,533,5,57,11,2,18,8,5,5,33.0,...,4.0,340.0,250.0,0.74,3,2,0,1,2,2
1,533,5,57,11,2,18,8,5,5,33.0,...,3.0,380.0,311.0,0.82,3,2,0,2,2,1
2,533,5,57,11,2,18,8,5,5,33.0,...,3.0,551.0,488.0,0.89,3,2,0,5,0,0
3,533,5,57,11,2,18,8,5,5,33.0,...,3.0,462.0,361.0,0.78,3,2,0,3,0,2
4,533,5,57,11,2,18,8,5,5,33.0,...,2.0,425.0,347.0,0.82,3,2,0,2,2,1

In [522]:
# Naive Bayes, using premise
from sklearn.naive_bayes import GaussianNB
gnb_p = GaussianNB()
gnb_p.fit(df_premise, label)
results_premise["nb"] = gnb_p.predict(ts_premise)

In [524]:
# Regular NB
gnb = GaussianNB()
gnb_p.fit(df_laliga, label)
results_laliga["nb"] = gnb_p.predict(ts_laliga)
results_laliga.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,...,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away,svm,svm_pca_fi,svm_pca_tw,nb
243,531,8,51,9,0,18,9,4,5,21.0,...,3,2,0,2,2,1,1,1,1,1
110,529,2,79,44,1,18,16,2,0,51.0,...,3,0,2,3,1,1,1,1,1,1
70,543,13,41,-9,0,18,9,4,5,33.0,...,1,3,1,0,4,1,1,1,1,1
220,538,16,36,-11,0,18,5,8,5,20.0,...,0,2,3,1,2,2,1,1,1,0
121,545,15,39,-15,0,18,7,3,8,22.0,...,2,2,1,1,2,2,1,0,1,0

In [ ]:
# Add ids # NO EN PCA
pca_laliga_fi['team_home.team.id'] = df_laliga['team_home.team.id'].values
pca_laliga_fi['team_away.team.id'] = df_laliga['team_away.team.id'].values
pca_premise_fi['team_home.team.id'] = df_laliga['team_home.team.id'].values
pca_premise_fi['team_away.team.id'] = df_laliga['team_away.team.id'].values
pca_test_laliga_fi['team_home.team.id'] = ts_laliga['team_home.team.id'].values
pca_test_laliga_fi['team_away.team.id'] = ts_laliga['team_away.team.id'].values
pca_test_premise_fi['team_home.team.id'] = ts_laliga['team_home.team.id'].values
pca_test_premise_fi['team_away.team.id'] = ts_laliga['team_away.team.id'].values

In [531]:
# NB using premise with PCA
gnb_p_fi = GaussianNB()
gnb_p_fi.fit(pca_premise_fi, label)
results_premise["nb_pca_fi"] = gnb_p_fi.predict(pca_test_premise_fi)
gnb_p_tw = GaussianNB()
gnb_p_tw.fit(pca_premise_tw, label)
results_premise["nb_pca_tw"] = gnb_p_tw.predict(pca_test_premise_tw)
results_premise.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,...,draws_home,wins_away,loses_away,draws_away,svm,svm_pca_fi,svm_pca_tw,nb,nb_pca_fi,nb_pca_tw
243,531,8,51,9,0,18,9,4,5,21.0,...,0,2,2,1,1,0,1,1,0,1
110,529,2,79,44,1,18,16,2,0,51.0,...,2,3,1,1,1,1,1,1,1,1
70,543,13,41,-9,0,18,9,4,5,33.0,...,1,0,4,1,1,1,1,1,1,1
220,538,16,36,-11,0,18,5,8,5,20.0,...,3,1,2,2,1,1,1,1,1,1
121,545,15,39,-15,0,18,7,3,8,22.0,...,1,1,2,2,1,1,1,0,0,0

In [534]:
# NB, Not using premise with PCA
gnb_fi = GaussianNB()
gnb_fi.fit(pca_laliga_fi, label)
results_laliga["nb_pca_fi"] = gnb_fi.predict(pca_test_laliga_fi)
gnb_tw = GaussianNB()
gnb_tw.fit(pca_laliga_tw, label)
results_laliga["nb_pca_tw"] = gnb_tw.predict(pca_test_laliga_tw)
results_laliga.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.played,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,...,draws_home,wins_away,loses_away,draws_away,svm,svm_pca_fi,svm_pca_tw,nb,nb_pca_fi,nb_pca_tw
243,531,8,51,9,0,18,9,4,5,21.0,...,0,2,2,1,1,1,1,1,1,1
110,529,2,79,44,1,18,16,2,0,51.0,...,2,3,1,1,1,1,1,1,1,1
70,543,13,41,-9,0,18,9,4,5,33.0,...,1,0,4,1,1,1,1,1,1,1
220,538,16,36,-11,0,18,5,8,5,20.0,...,3,1,2,2,1,1,1,0,0,1
121,545,15,39,-15,0,18,7,3,8,22.0,...,1,1,2,2,1,0,1,0,0,0

In [535]:
results_laliga.to_csv('laliga_p37.csv')
results_premise.to_csv('premise_p37.csv')