In [500]:
"""
    Feature engineering in training data and building up the model
"""

'\n    Feature engineering in training data and building up the model\n'

In [49]:
from sklearn import preprocessing
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [50]:
# Finding the csv from the league
# Multi League directory
country = 'FR'
dirCountry = '../' + country + '/'
# csv to save
file_title = 'liguecopa_28.csv'
csv_file = dirCountry + file_title

In [51]:
# Testing against current season
current_season = 2019

In [52]:
# Retrieving previous saved data
df_laliga = pd.read_csv(csv_file) 
df_laliga = df_laliga.drop(df_laliga.columns[0], axis=1)

In [53]:
# None values set to 0
df_laliga.fillna(value=0, inplace=True)

In [54]:
# g_diff_home: an integer of the goals difference for home
df_laliga["g_diff_home"] = df_laliga["goals_home"] - df_laliga["goals_away"]
df_laliga.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_away.possession,stats_away.c_yellow,stats_away.c_red,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,stats_home,stats_away,g_diff_home
0,157671,26,0.0,0.0,61,2019,95,Strasbourg,11,38,...,39%,6.0,0.0,3.0,263.0,172.0,65%,0.0,0.0,0.0
1,157652,24,3.0,0.0,61,2019,95,Strasbourg,11,38,...,52%,1.0,0.0,1.0,418.0,338.0,81%,0.0,0.0,3.0
2,157596,19,2.0,1.0,61,2019,95,Strasbourg,11,38,...,60%,2.0,0.0,1.0,467.0,386.0,83%,0.0,0.0,1.0
3,157739,33,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
4,157629,22,1.0,2.0,61,2019,95,Strasbourg,11,38,...,56%,5.0,0.0,2.0,385.0,312.0,81%,0.0,0.0,-1.0

In [55]:
# g_diff_away: an integer of the goals difference for away
df_laliga["g_diff_away"] = df_laliga["goals_away"] - df_laliga["goals_home"]
df_laliga.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_away.c_yellow,stats_away.c_red,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,stats_home,stats_away,g_diff_home,g_diff_away
0,157671,26,0.0,0.0,61,2019,95,Strasbourg,11,38,...,6.0,0.0,3.0,263.0,172.0,65%,0.0,0.0,0.0,0.0
1,157652,24,3.0,0.0,61,2019,95,Strasbourg,11,38,...,1.0,0.0,1.0,418.0,338.0,81%,0.0,0.0,3.0,-3.0
2,157596,19,2.0,1.0,61,2019,95,Strasbourg,11,38,...,2.0,0.0,1.0,467.0,386.0,83%,0.0,0.0,1.0,-1.0
3,157739,33,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4,157629,22,1.0,2.0,61,2019,95,Strasbourg,11,38,...,5.0,0.0,2.0,385.0,312.0,81%,0.0,0.0,-1.0,1.0

In [56]:
# Set win as 1, draw as 0 and lose as -1
def get_status(r):
    goals_home = r["goals_fhome"] + r["goals_shome"]
    goals_away = r["goals_faway"] + r["goals_saway"]
    if goals_home > goals_away:
        return 1
    elif goals_home == goals_away:
        return 0
    else:
        return -1

In [57]:
def get_status(r):
    goals_home = r["goals_home"]
    goals_away = r["goals_away"]
    if goals_home > goals_away:
        return 1
    elif goals_home == goals_away:
        return 0
    else:
        return -1

In [58]:
"""
    Form: last 5 losses
        last 5 wins
        last 5 draws
"""
# Home
df_laliga["wins_home"] = df_laliga["team_home.form"].apply(lambda x: x.count('W'))
df_laliga["loses_home"] = df_laliga["team_home.form"].apply(lambda x: x.count('L'))
df_laliga["draws_home"] = df_laliga["team_home.form"].apply(lambda x: x.count('D'))
# Away
df_laliga["wins_away"] = df_laliga["team_away.form"].apply(lambda x: x.count('W'))
df_laliga["loses_away"] = df_laliga["team_away.form"].apply(lambda x: x.count('L'))
df_laliga["draws_away"] = df_laliga["team_away.form"].apply(lambda x: x.count('D'))

df_laliga.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_home,stats_away,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,157671,26,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,0,2,3
1,157652,24,3.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,3.0,-3.0,2,1,2,2,1,2
2,157596,19,2.0,1.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,1.0,-1.0,2,1,2,0,3,2
3,157739,33,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,1,2,2
4,157629,22,1.0,2.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,-1.0,1.0,2,1,2,4,1,0

In [59]:
# Promotion: either Champions, UEFA Europe, Second division
# Label encoder vs Normalize unicode encoder
description = np.unique(df_laliga["team_home.description"].astype(str))
description = np.append(description, np.unique(df_laliga["team_away.description"].astype(str)))
enc = preprocessing.LabelEncoder()
enc.fit(description)
df_laliga["team_home.description"] = enc.transform(df_laliga["team_home.description"].astype(str))
df_laliga["team_away.description"] = enc.transform(df_laliga["team_away.description"].astype(str))
df_laliga.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_home,stats_away,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,157671,26,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,0,2,3
1,157652,24,3.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,3.0,-3.0,2,1,2,2,1,2
2,157596,19,2.0,1.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,1.0,-1.0,2,1,2,0,3,2
3,157739,33,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,1,2,2
4,157629,22,1.0,2.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,-1.0,1.0,2,1,2,4,1,0

In [60]:
# Group: conference west vs east
description = np.unique(df_laliga["team_home.group"].astype(str))
enc = preprocessing.LabelEncoder()
enc.fit(description)
df_laliga["team_home.group"] = enc.transform(df_laliga["team_home.group"].astype(str))
df_laliga["team_away.group"] = enc.transform(df_laliga["team_away.group"].astype(str))
df_laliga.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_home,stats_away,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,157671,26,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,0,2,3
1,157652,24,3.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,3.0,-3.0,2,1,2,2,1,2
2,157596,19,2.0,1.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,1.0,-1.0,2,1,2,0,3,2
3,157739,33,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,1,2,2
4,157629,22,1.0,2.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,-1.0,1.0,2,1,2,4,1,0

In [61]:
def score_home(best):
    if best != 0:
        return int(best[0]) - int(best[2])
    return best

In [62]:
def score_away(best):
    if best != 0:
        return int(best[2]) - int(best[0])
    return best

In [63]:
# For best_lose
df_laliga["team_away.stats_home.streaks.best_lose"] = df_laliga["team_away.stats_home.streaks.best_lose"].apply(score_home)
df_laliga["team_away.stats_away.streaks.best_lose"] = df_laliga["team_away.stats_away.streaks.best_lose"].apply(score_away)
# For best_win
df_laliga["team_away.stats_home.streaks.best_win"] = df_laliga["team_away.stats_home.streaks.best_win"].apply(score_home)
df_laliga["team_away.stats_away.streaks.best_win"] = df_laliga["team_away.stats_away.streaks.best_win"].apply(score_away)
df_laliga.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_home,stats_away,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,157671,26,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,0,2,3
1,157652,24,3.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,3.0,-3.0,2,1,2,2,1,2
2,157596,19,2.0,1.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,1.0,-1.0,2,1,2,0,3,2
3,157739,33,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,1,2,2
4,157629,22,1.0,2.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,-1.0,1.0,2,1,2,4,1,0

In [64]:
# For best_lose
df_laliga["team_home.stats_home.streaks.best_lose"] = df_laliga["team_home.stats_home.streaks.best_lose"].apply(score_home)
df_laliga["team_home.stats_away.streaks.best_lose"] = df_laliga["team_home.stats_away.streaks.best_lose"].apply(score_away)
# For best_win
df_laliga["team_home.stats_home.streaks.best_win"] = df_laliga["team_home.stats_home.streaks.best_win"].apply(score_home)
df_laliga["team_home.stats_away.streaks.best_win"] = df_laliga["team_home.stats_away.streaks.best_win"].apply(score_away)
df_laliga.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_home,stats_away,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,157671,26,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,0,2,3
1,157652,24,3.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,3.0,-3.0,2,1,2,2,1,2
2,157596,19,2.0,1.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,1.0,-1.0,2,1,2,0,3,2
3,157739,33,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,1,2,2
4,157629,22,1.0,2.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,-1.0,1.0,2,1,2,4,1,0

In [65]:
# Posession % to decimal as p_percentage
df_laliga["stats_away.p_percentage"] = df_laliga["stats_away.p_percentage"].apply(lambda x: (int(str(x).strip('%'))/100))
df_laliga["stats_home.p_percentage"] = df_laliga["stats_home.p_percentage"].apply(lambda x: (int(str(x).strip('%'))/100))
df_laliga["stats_away.possession"] = df_laliga["stats_away.possession"].apply(lambda x: (int(str(x).strip('%'))/100))
df_laliga["stats_home.possession"] = df_laliga["stats_home.possession"].apply(lambda x: (int(str(x).strip('%'))/100))
df_laliga.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_home,stats_away,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,157671,26,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,0,2,3
1,157652,24,3.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,3.0,-3.0,2,1,2,2,1,2
2,157596,19,2.0,1.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,1.0,-1.0,2,1,2,0,3,2
3,157739,33,0.0,0.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,0.0,0.0,2,1,2,1,2,2
4,157629,22,1.0,2.0,61,2019,95,Strasbourg,11,38,...,0.0,0.0,-1.0,1.0,2,1,2,4,1,0

In [66]:
"""
    Following this premise:
    - Away standings from home team aren't relevant
    - Home standings from away team aren't relevant
"""
# Drop away standings
df_premise = df_laliga.drop(df_laliga.filter(regex='team_away.stats_home.').columns, axis=1)
df_premise = df_laliga.drop(df_laliga.filter(regex='team_home.stats_away.').columns, axis=1)
print(df_premise.shape)

(398, 115)

In [67]:
"""
    Here the unseen data will be built as test set - Serie A
"""
p37 = [[85, 80]]

In [68]:
# Getting previous record
ts_laliga = pd.DataFrame()
ts_premise = pd.DataFrame()
for match in p37:
    ts_laliga = ts_laliga.append(df_laliga[(df_laliga["team_home.team.id"]==match[0]) & (df_laliga["team_away.team.id"]==match[1])])
    ts_premise = ts_premise.append(df_premise[(df_premise["team_home.team.id"]==match[0]) & (df_premise["team_away.team.id"]==match[1])])
ts_premise.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_home,stats_away,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
331,157644,24,4.0,2.0,61,2019,85,Paris Saint Germain,1,68,...,0.0,0.0,2.0,-2.0,4,0,1,2,2,1
396,318910,Fi,0.0,0.0,65,2019,85,Paris Saint Germain,1,68,...,0.0,0.0,0.0,0.0,4,0,1,2,2,1

In [69]:
# Getting previous record
weeks = ["Fi"]
ts_laliga = pd.DataFrame()
ts_premise = pd.DataFrame()
for match in p37:
    ts_laliga = ts_laliga.append(df_laliga[(df_laliga["team_home.team.id"]==match[0]) & (df_laliga["team_away.team.id"]==match[1]) & (df_laliga["week"].isin(weeks))])
    ts_premise = ts_premise.append(df_premise[(df_premise["team_home.team.id"]==match[0]) & (df_premise["team_away.team.id"]==match[1]) & (df_premise["week"].isin(weeks))])
ts_premise.head()

,id,week,goals_home,goals_away,league,season,team_home.team.id,team_home.team.name,team_home.rank,team_home.points,...,stats_home,stats_away,g_diff_home,g_diff_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
396,318910,Fi,0.0,0.0,65,2019,85,Paris Saint Germain,1,68,...,0.0,0.0,0.0,0.0,4,0,1,2,2,1

In [70]:
print(ts_laliga.shape)
print(ts_premise.shape)

(1, 132)
(1, 115)

In [71]:
# Remove categorical values as team_away and team_home names, team_home.form
df_laliga = df_laliga.drop(columns=["team_home.team.name","team_away.team.name","team_home.form","team_away.form"])
df_laliga.head()
print(df_laliga.shape)
df_premise = df_premise.drop(columns=["team_home.team.name","team_away.team.name","team_home.form","team_away.form"])

(398, 128)

In [72]:
# Auxiliar for team names
ts_name = pd.DataFrame()
ts_name["team_home.team.name"] = ts_laliga["team_home.team.name"]
ts_name["team_away.team.name"] = ts_laliga["team_away.team.name"]
ts_laliga = ts_laliga.drop(columns=["team_home.team.name","team_away.team.name","team_home.form","team_away.form"])
ts_premise = ts_premise.drop(columns=["team_home.team.name","team_away.team.name","team_home.form","team_away.form"])

In [73]:
# This is done before training, after building testing
#for match in p37:
    #df_laliga = df_laliga.drop(df_laliga[(df_laliga["team_home.team.id"]==match[0]) & (df_laliga["team_away.team.id"]==match[1])].index)
    #df_premise = df_premise.drop(df_premise[(df_premise["team_home.team.id"]==match[0]) & (df_premise["team_away.team.id"]==match[1])].index)
for match in p37:
    df_laliga = df_laliga.drop(df_laliga[(df_laliga["team_home.team.id"]==match[0]) & (df_laliga["team_away.team.id"]==match[1])].index)
    df_premise = df_premise.drop(df_premise[(df_premise["team_home.team.id"]==match[0]) & (df_premise["team_away.team.id"]==match[1])].index)
print(df_laliga.shape)
print(df_premise.shape)

(396, 128)
(396, 111)

In [74]:
# status_home: either win, draw or lose for home team, predicted label
label = []
for index, row in df_laliga.iterrows():
    label.append(get_status(row))
print(label)

[0, 1, 1, 0, -1, -1, 1, 1, 0, 1, 0, -1, 0, 0, 1, 0, 0, 0, 1, 0, 1, -1, 0, 0, 0, 0, 0, -1, 1, -1, 1, -1, -1, 1, 1, -1, 0, 1, 0, 1, 0, 0, 1, 0, -1, 1, 0, 0, -1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, -1, 0, 0, -1, -1, 1, 1, 1, 1, 0, 0, 0, 0, 0, -1, 0, 1, 0, -1, 0, 0, 1, 0, 1, 1, 0, -1, 0, 0, 0, 0, -1, 0, 0, 1, 0, 1, 0, 0, -1, -1, 1, -1, -1, 0, 0, -1, 0, 1, 1, 0, 0, 1, 0, -1, 0, 1, 0, 1, -1, 0, -1, 0, 0, 0, 1, 0, -1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, -1, 0, 1, -1, 1, 0, 1, 1, -1, 1, 1, 1, 0, 0, 1, -1, 0, 0, 0, 1, -1, 0, 0, 1, -1, 1, -1, -1, -1, 0, -1, -1, -1, -1, 0, 0, -1, 0, -1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, -1, -1, 0, -1, 0, 0, 1, 1, 0, 0, -1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, -1, 0, -1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, -1, 0, -1, 0, 0, 0, 1, 1, 1, -1, 0, 0, -1, 0, -1, -1, 1, 0, 0, 0, 1, 0, -1, 0, 0, 0, -1, -1, 0, 0, 1, 1, 1, -1, -1, 1, -1, 0, 0, -1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, -1, -1, 1, 0, 0, -1, 0, 1, 0, 0, -1, 1, 1, -1, -1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, -1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, -1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, -1, 1, 0, 1, 1, 1, 1, 0, 0, -1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, -1, -1, 0, 0, 1, 0, 0, 1, 0, 1, 0, -1, 0, 1, 0, -1, -1, 1, 0, -1, 1, 1, 0, 1, 1, 1, -1, 1, 1, 0, -1, 1, 1]

In [75]:
# Doing linear regresion
goals_away_p = df_premise["goals_away"]
goals_away = df_laliga["goals_away"]
goals_home_p = df_premise["goals_home"]
goals_home = df_laliga["goals_home"]

In [76]:
# Missing linear regression for goals_home and goals_away, as goal_diff
df_laliga = df_laliga.drop(columns=["goals_away","goals_home","g_diff_away","g_diff_home"])
print(df_laliga.shape)
df_premise = df_premise.drop(columns=["goals_away","goals_home","g_diff_away","g_diff_home"])
ts_laliga = ts_laliga.drop(columns=["goals_away","goals_home","g_diff_away","g_diff_home"])
ts_premise = ts_premise.drop(columns=["goals_away","goals_home","g_diff_away","g_diff_home"])

(396, 124)

In [77]:
# La liga
# GET avg for team_home.stats_home. team_home.stats_away. team_away.stats_home. team_away.stats_away.
columns_home = df_laliga.filter(regex='^stats_home').columns
#columns_g_home = df_laliga.filter(["goals_home","g_diff_home"]).columns
#columns_home = columns_home.append(columns_g_home)
avg_home_laliga = df_laliga.groupby(['team_home.team.id'], as_index=True)[columns_home].mean()
#avg_home_laliga = df_laliga.groupby(['team_home.team.id','season'], as_index=True)[columns_home].mean()
avg_home_laliga.head()

,stats_home.s_on_g,stats_home.s_off_g,stats_home.s_in,stats_home.s_out,stats_home.s_total,stats_home.s_blocked,stats_home.fouls,stats_home.corners,stats_home.offside,stats_home.possession,stats_home.c_yellow,stats_home.c_red,stats_home.saves,stats_home.p_total,stats_home.p_accurate,stats_home.p_percentage,stats_home
team_home.team.id,,,,,,,,,,,,,,,,,
77,4.000000,5.000000,12.363636,3.363636,6.590909,5.772727,9.272727,4.181818,0.681818,0.410000,1.318182,0.090909,2.000000,383.636364,316.045455,0.668636,0.0
78,3.914286,3.857143,9.800000,2.028571,5.657143,4.142857,10.285714,3.742857,1.257143,0.433429,1.428571,0.057143,2.428571,407.971429,339.057143,0.679429,0.0
79,3.875000,4.062500,9.625000,1.687500,5.812500,3.812500,10.500000,3.687500,1.125000,0.383125,0.937500,0.000000,2.125000,336.125000,269.437500,0.595625,0.0
80,3.421053,3.315789,8.578947,1.842105,5.105263,3.473684,8.157895,3.578947,0.473684,0.392105,1.210526,0.105263,2.210526,372.210526,318.947368,0.582105,0.0
81,4.428571,4.928571,12.857143,3.500000,7.428571,5.428571,10.321429,4.535714,1.000000,0.436786,1.714286,0.142857,2.035714,409.785714,343.928571,0.682857,0.0

In [36]:
try:
    p = avg_home_laliga.index.values
    b = list(zip(*p))
    avg_home_laliga.insert(0, column="home_team_id",value = b[0])
    avg_home_laliga.head()
except:
    print("The indexes that are trying to be registered are already created.")

The indexes that are trying to be registered are already created.

In [424]:
avg_home_laliga.head()

,stats_home.s_on_g,stats_home.s_off_g,stats_home.s_in,stats_home.s_out,stats_home.s_total,stats_home.s_blocked,stats_home.fouls,stats_home.corners,stats_home.offside,stats_home.possession,stats_home.c_yellow,stats_home.c_red,stats_home.saves,stats_home.p_total,stats_home.p_accurate,stats_home.p_percentage
team_home.team.id,,,,,,,,,,,,,,,,
488,6.162162,6.162162,16.486486,4.162162,10.162162,6.324324,11.864865,6.189189,1.729730,0.518108,2.216216,0.054054,3.000000,484.702703,410.378378,0.820270
489,3.736842,6.368421,14.526316,4.421053,8.263158,6.263158,13.684211,4.315789,1.368421,0.491053,2.578947,0.105263,3.684211,427.526316,348.842105,0.808947
492,5.470588,8.088235,17.705882,4.147059,10.147059,7.558824,12.970588,5.911765,1.764706,0.512353,2.000000,0.058824,2.764706,483.882353,410.882353,0.834118
493,4.156250,5.187500,12.375000,3.031250,7.218750,5.156250,15.062500,4.656250,1.500000,0.452188,2.375000,0.093750,3.093750,411.875000,337.125000,0.811562
495,3.625000,6.875000,13.750000,3.250000,7.625000,6.125000,13.000000,6.000000,1.125000,0.541250,2.375000,0.000000,3.125000,471.375000,387.125000,0.805000

In [78]:
columns_away = df_laliga.filter(regex='^stats_away').columns
#columns_g_away = df_laliga.filter(["goals_away","g_diff_away"]).columns
#columns_away = columns_home.append(columns_g_away)
avg_away_laliga = df_laliga.groupby(['team_away.team.id'], as_index=True)[columns_away].mean()
#avg_away_laliga = df_laliga.groupby(['team_away.team.id','season'], as_index=True)[columns_away].mean()
avg_away_laliga.head(10)

,stats_away.s_on_g,stats_away.s_off_g,stats_away.s_in,stats_away.s_out,stats_away.s_total,stats_away.s_blocked,stats_away.fouls,stats_away.corners,stats_away.offside,stats_away.possession,stats_away.c_yellow,stats_away.c_red,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,stats_away
team_away.team.id,,,,,,,,,,,,,,,,,
77,2.300000,4.000000,8.000000,1.700000,4.250000,3.750000,8.550000,3.350000,0.650000,0.305500,1.150000,0.100000,1.750000,295.600000,235.950000,0.554500,0.0
78,2.950000,3.650000,8.600000,2.000000,4.150000,4.450000,11.200000,3.600000,1.250000,0.438500,1.450000,0.000000,2.050000,400.100000,328.900000,0.653500,0.0
79,3.000000,3.000000,7.666667,1.666667,4.761905,2.904762,9.952381,3.809524,1.428571,0.363810,1.714286,0.142857,1.666667,303.190476,240.142857,0.561905,0.0
80,3.833333,4.277778,10.555556,2.444444,5.666667,4.888889,9.611111,3.222222,0.944444,0.449444,1.388889,0.111111,1.666667,405.111111,342.944444,0.654444,0.0
81,2.700000,3.800000,8.150000,1.650000,4.650000,3.500000,9.950000,3.500000,0.700000,0.394500,1.950000,0.000000,2.500000,340.000000,275.550000,0.601500,0.0
82,1.950000,3.600000,7.400000,1.850000,4.300000,3.100000,10.950000,3.500000,1.100000,0.359500,1.500000,0.200000,2.550000,301.700000,231.250000,0.571000,0.0
83,2.631579,3.684211,8.368421,2.052632,4.157895,4.210526,10.157895,3.789474,1.052632,0.335263,1.684211,0.052632,2.210526,304.842105,237.789474,0.567368,0.0
84,3.000000,2.473684,7.315789,1.842105,4.263158,3.052632,7.578947,2.947368,0.526316,0.372632,1.736842,0.157895,2.736842,345.000000,298.000000,0.586316,0.0
85,4.950000,4.450000,11.500000,2.100000,8.300000,3.200000,9.100000,4.700000,1.400000,0.449500,1.550000,0.000000,1.400000,433.750000,386.900000,0.623500,0.0
87,2.200000,2.350000,6.150000,1.600000,3.300000,2.850000,10.450000,2.950000,0.950000,0.336500,1.800000,0.150000,2.600000,303.300000,232.900000,0.568500,0.0

In [126]:
try:
    p = avg_away_laliga.index.values
    b = list(zip(*p))
    avg_away_laliga.insert(0, column="away_team_id",value = b[0])
    avg_away_laliga.head()
except:
    print("The indexes that are trying to be registered are already created.")

In [79]:
i_th = ts_laliga.columns.get_loc("team_home.team.id")
i_ta = ts_laliga.columns.get_loc("team_away.team.id")
for i in range(len(ts_laliga)):
    for index, row in avg_home_laliga.iterrows():
        if ts_laliga.iloc[i,i_th] == index:
            for c in columns_home:
                try:
                    i_c = ts_laliga.columns.get_loc(c)
                    ts_laliga.iloc[i,i_c] = row[c]
                except:
                    print(index, c)
for i in range(0, len(ts_laliga)):
    for index, row in avg_away_laliga.iterrows():
        if ts_laliga.iloc[i,i_ta] == index:
            for c in columns_away:
                try:
                    i_c = ts_laliga.columns.get_loc(c)
                    ts_laliga.iloc[i,i_c] = row[c]
                except:
                    print(index, c)
ts_laliga.head(10)

,id,week,league,season,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.group,...,stats_away.p_accurate,stats_away.p_percentage,stats_home,stats_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
396,318910,Fi,65,2019,85,1,68,51,0,0,...,342.944444,0.654444,0.0,0.0,4,0,1,2,2,1

In [80]:
# Premise
# GET avg for team_home.stats_home. team_away.stats_away.
i_th = ts_premise.columns.get_loc("team_home.team.id")
i_ta = ts_premise.columns.get_loc("team_away.team.id")
for i in range(len(ts_premise)):
    for index, row in avg_home_laliga.iterrows():
        if ts_premise.iloc[i,i_th] == index:
            for c in columns_home:
                try:
                    i_c = ts_premise.columns.get_loc(c)
                    ts_premise.iloc[i,i_c] = row[c]
                except:
                    print(index, c)
for i in range(0, len(ts_premise)):
    for index, row in avg_away_laliga.iterrows():
        if ts_premise.iloc[i,i_ta] == index:
            for c in columns_away:
                try:
                    i_c = ts_premise.columns.get_loc(c)
                    ts_premise.iloc[i,i_c] = row[c]
                except:
                    print(index, c)
ts_premise.head(10)

,id,week,league,season,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.group,...,stats_away.p_accurate,stats_away.p_percentage,stats_home,stats_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
396,318910,Fi,65,2019,85,1,68,51,0,0,...,342.944444,0.654444,0.0,0.0,4,0,1,2,2,1

In [81]:
# Drop ids
df_laliga = df_laliga.drop(columns=["id","week","season","league","team_home.group","team_away.group", 
                                    "team_away.stats_away.played", "team_away.stats_home.played",
                                    "team_home.stats_away.played", "team_home.stats_home.played"])
print(df_laliga.shape)
df_premise = df_premise.drop(columns=["id","week","season","league","team_home.group","team_away.group",
                                      "team_away.stats_away.played","team_home.stats_home.played"])

(396, 114)

In [82]:
ts_laliga = ts_laliga.drop(columns=["id","week","season","league","team_home.group","team_away.group",
                                    "team_away.stats_away.played", "team_away.stats_home.played",
                                    "team_home.stats_away.played", "team_home.stats_home.played"])
ts_premise = ts_premise.drop(columns=["id","week","season","league","team_home.group","team_away.group",
                                      "team_away.stats_away.played", "team_home.stats_home.played"])

In [351]:
"""
    Three algorithms:
        - SVM
        - PCA
        - Naive Bayes
    To train, both: premise and regular data
"""

'\n    Three algorithms:\n        - SVM\n        - PCA\n        - Naive Bayes\n    To train, both: premise and regular data\n'

In [83]:
results_laliga = ts_laliga.copy()
results_premise = ts_premise.copy()

In [84]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, normalize

In [85]:
# For PCA teams' ids will be removed
pca_laliga = df_laliga.drop(columns=["team_home.team.id","team_away.team.id"], axis=1)
pca_premise = df_premise.drop(columns=["team_home.team.id","team_away.team.id"], axis=1)
pca_test_laliga = ts_laliga.drop(columns=["team_home.team.id","team_away.team.id"], axis=1)
pca_test_premise = ts_premise.drop(columns=["team_home.team.id","team_away.team.id"], axis=1)

In [86]:
# Standardizing the features
pca_laliga = StandardScaler().fit_transform(pca_laliga)
#pca_laliga = normalize(pca_laliga) 
pca_premise = StandardScaler().fit_transform(pca_premise)
#pca_premise = normalize(pca_premise) 
pca_test_laliga = StandardScaler().fit_transform(pca_test_laliga)
#pca_test_laliga = normalize(pca_test_laliga) 
pca_test_premise = StandardScaler().fit_transform(pca_test_premise)
#pca_test_premise= normalize(pca_test_premise)

In [88]:
# SVM algorithm, using premise
from sklearn.svm import SVC
sv_p = SVC(gamma='auto', probability=True)
sv_p.fit(pca_premise, label)
results_premise["svm"] = sv_p.predict(pca_test_premise)
results_premise.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,team_home.stats_home.avg_goals_for,...,stats_away.p_percentage,stats_home,stats_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away,svm
396,85,1,68,51,0,12,1,1,44.0,3.1,...,0.654444,0.0,0.0,4,0,1,2,2,1,1

In [89]:
print(results_premise["svm"])

396    1
Name: svm, dtype: int64

In [90]:
# SVM, Not using premise
sv = SVC(gamma='auto')
sv.fit(pca_laliga, label)
results_laliga["svm"] = sv.predict(pca_test_laliga)
results_laliga.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,team_home.stats_home.avg_goals_for,...,stats_away.p_percentage,stats_home,stats_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away,svm
396,85,1,68,51,0,12,1,1,44.0,3.1,...,0.654444,0.0,0.0,4,0,1,2,2,1,1

In [91]:
print(results_laliga["svm"])

396    1
Name: svm, dtype: int64

In [92]:
print("Lyon vs PSG")
print(sv_p.predict_proba(pca_test_premise)[0])

Lyon vs PSG
[0.12238158 0.33785708 0.53976134]

In [93]:
# Naive Bayes, using premise
from sklearn.naive_bayes import GaussianNB
gnb_p = GaussianNB()
gnb_p.fit(df_premise, label)
results_premise["nb"] = gnb_p.predict(ts_premise)
print("Lyon vs PSG")
print(gnb_p.predict_proba(ts_premise)[0])

Lyon vs PSG
[5.11910680e-06 5.03568044e-11 9.99994881e-01]

In [94]:
# Regular NB
gnb = GaussianNB()
gnb_p.fit(df_laliga, label)
results_laliga["nb"] = gnb_p.predict(ts_laliga)
results_laliga.head()
print("Lyon vs PSG")
print(gnb_p.predict_proba(ts_laliga)[0])

Lyon vs PSG
[4.3420773e-12 2.7161072e-14 1.0000000e+00]

In [373]:
"""
    Feature Selection:
    Test against ANOVA f-score
"""

'\n    Feature Selection:\n    Test against ANOVA f-score\n'

In [95]:
from sklearn.feature_selection import SelectKBest, f_classif

In [96]:
# Using ANOVA f-score
best_features_premise = SelectKBest(f_classif, k=20).fit(df_premise, label)
best_features = SelectKBest(f_classif, k=20).fit(df_laliga, label)
df_chi = best_features.transform(df_laliga)
premise_chi = best_features_premise.transform(df_premise)
ts_chi = best_features.transform(ts_laliga)
ts_premise_chi = best_features_premise.transform(ts_premise)

/anaconda3/envs/thesis/lib/python3.7/site-packages/sklearn/feature_selection/_univariate_selection.py:115: UserWarning: Features [ 4 25 91 92] are constant.
  UserWarning)
/anaconda3/envs/thesis/lib/python3.7/site-packages/sklearn/feature_selection/_univariate_selection.py:116: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
/anaconda3/envs/thesis/lib/python3.7/site-packages/sklearn/feature_selection/_univariate_selection.py:115: UserWarning: Features [  4  41 106 107] are constant.
  UserWarning)
/anaconda3/envs/thesis/lib/python3.7/site-packages/sklearn/feature_selection/_univariate_selection.py:116: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [97]:
# Using Gaussian Naive Bayes and chi-squared
gnb_p_chi = GaussianNB()
gnb_p_chi.fit(premise_chi, label)
results_premise["nb_fval"] = gnb_p_chi.predict(ts_premise_chi)
gnb_chi = GaussianNB()
gnb_chi.fit(df_chi, label)
results_laliga["nb_fval"] = gnb_chi.predict(ts_chi)
results_premise.head(10)

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,team_home.stats_home.avg_goals_for,...,stats_away,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away,svm,nb,nb_fval
396,85,1,68,51,0,12,1,1,44.0,3.1,...,0.0,4,0,1,2,2,1,1,1,1

In [98]:
print("Lyon vs PSG")
print(gnb_p_chi.predict_proba(ts_premise_chi)[0])

Lyon vs PSG
[3.85577853e-01 1.00459674e-06 6.14421143e-01]

In [99]:
# Using Random Forests for Training with all Features
from sklearn.ensemble import RandomForestClassifier
# At least two matches en each classification per week
premise_clf = RandomForestClassifier(criterion="entropy", max_features="log2", min_samples_leaf=2).fit(df_premise, label)
results_premise["rf"] = premise_clf.predict(ts_premise)
laliga_clf = RandomForestClassifier(criterion="entropy", max_features="log2", min_samples_leaf=2).fit(df_laliga, label)
results_laliga["rf"] = laliga_clf.predict(ts_laliga)

In [378]:
df_premise.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,team_home.stats_home.avg_goals_for,...,stats_away.saves,stats_away.p_total,stats_away.p_accurate,stats_away.p_percentage,wins_home,loses_home,draws_home,wins_away,loses_away,draws_away
0,502,12,43,-3,0,4,8,6,18.0,1.0,...,3.0,426.0,334.0,0.78,2,1,2,2,2,1
2,502,12,43,-3,0,4,8,6,18.0,1.0,...,6.0,348.0,263.0,0.76,2,1,2,1,3,1
3,502,12,43,-3,0,4,8,6,18.0,1.0,...,3.0,552.0,470.0,0.85,2,1,2,2,0,3
4,502,12,43,-3,0,4,8,6,18.0,1.0,...,5.0,506.0,418.0,0.83,2,1,2,3,0,2
5,502,12,43,-3,0,4,8,6,18.0,1.0,...,3.0,522.0,444.0,0.85,2,1,2,2,1,2

In [100]:
importances = premise_clf.feature_importances_
std = np.std([tree.feature_importances_ for tree in premise_clf.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

columns_name = df_laliga.columns

for f in range(df_laliga.shape[1]):
    print("%d. feature %s %d (%f)" % (f + 1, columns_name[indices[f]], indices[f], importances[indices[f]]))

# Plot the impurity-based feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(df_laliga.shape[1]), importances[indices],
        color="r", yerr=std[indices], align="center")
plt.xticks(range(df_laliga.shape[1]), indices)
plt.xlim([-1, df_laliga.shape[1]])
plt.show()

Feature ranking:
1. feature team_away.stats_away.draws 59 (0.044636)
2. feature stats_away.s_on_g 90 (0.041079)
3. feature stats_home.p_accurate 88 (0.037695)
4. feature stats_home.s_out 77 (0.033918)
5. feature team_away.stats_away.goals_for 61 (0.031394)
6. feature stats_home.p_percentage 89 (0.031216)
7. feature stats_home.s_blocked 79 (0.030143)
8. feature team_away.stats_away.streaks.best_goals_for 72 (0.027348)
9. feature team_away.stats_away.streaks.draws 68 (0.027255)
10. feature team_away.stats_away.avg_goals_against 64 (0.026668)
11. feature team_away.stats_away.streaks.best_goals_against 73 (0.024149)
12. feature team_away.stats_away.clean_sheet 65 (0.022487)
13. feature stats_home.fouls 80 (0.022200)
14. feature team_away.stats_away.goals_against 63 (0.021455)
15. feature stats_home.s_on_g 74 (0.019562)
16. feature stats_home.s_off_g 75 (0.018424)
17. feature stats_home.c_yellow 84 (0.018320)
18. feature stats_home.corners 81 (0.017786)
19. feature team_away.stats_away.lose 60 (0.015666)
20. feature team_away.stats_away.failed_to_score 66 (0.014933)
21. feature stats_home.s_in 76 (0.014843)
22. feature team_away.stats_home.draws 43 (0.013618)
23. feature stats_home.c_red 85 (0.013083)
24. feature team_away.stats_away.avg_goals_for 62 (0.012755)
25. feature team_home.stats_away.goals_for 24 (0.012707)
26. feature team_away.stats_away.streaks.best_lose 71 (0.011266)
27. feature stats_home.offside 82 (0.011167)
28. feature stats_home.possession 83 (0.010723)
29. feature team_home.points 2 (0.010631)
30. feature team_home.stats_home.lose 7 (0.010466)
31. feature stats_home.s_total 78 (0.010369)
32. feature team_home.rank 1 (0.010172)
33. feature team_home.stats_home.goals_for 8 (0.009386)
34. feature team_home.stats_home.avg_goals_against 11 (0.009352)
35. feature team_home.stats_home.draws 6 (0.009312)
36. feature team_home.goals_diff 3 (0.008819)
37. feature team_away.stats_away.streaks.wins 67 (0.008786)
38. feature team_home.stats_away.draws 22 (0.008777)
39. feature team_away.stats_away.streaks.loses 69 (0.008720)
40. feature team_away.stats_home.clean_sheet 49 (0.008291)
41. feature team_away.stats_home.avg_goals_for 46 (0.008224)
42. feature team_home.stats_home.avg_goals_for 9 (0.008210)
43. feature team_home.stats_home.goals_against 10 (0.008107)
44. feature team_away.stats_home.goals_against 47 (0.008101)
45. feature team_home.team.id 0 (0.007858)
46. feature team_away.stats_home.streaks.wins 51 (0.007811)
47. feature stats_home.p_total 87 (0.007632)
48. feature team_away.stats_home.avg_goals_against 48 (0.007176)
49. feature team_away.stats_home.lose 44 (0.007117)
50. feature team_away.stats_home.failed_to_score 50 (0.006966)
51. feature team_home.stats_away.wins 21 (0.006894)
52. feature team_home.stats_home.streaks.loses 16 (0.006762)
53. feature team_home.stats_home.clean_sheet 12 (0.006719)
54. feature team_home.stats_away.lose 23 (0.006398)
55. feature team_away.stats_home.goals_for 45 (0.006256)
56. feature team_home.stats_home.failed_to_score 13 (0.006138)
57. feature stats_away.s_out 93 (0.006015)
58. feature team_home.stats_away.streaks.wins 30 (0.005883)
59. feature team_home.stats_home.streaks.best_win 17 (0.005385)
60. feature team_home.stats_away.streaks.best_lose 34 (0.005338)
61. feature stats_away.s_blocked 95 (0.005298)
62. feature stats_away.s_total 94 (0.005181)
63. feature team_away.stats_home.streaks.draws 52 (0.005000)
64. feature team_home.stats_home.streaks.best_goals_for 19 (0.004901)
65. feature team_home.stats_away.streaks.best_win 33 (0.004898)
66. feature team_home.stats_away.streaks.best_goals_for 35 (0.004671)
67. feature team_home.stats_away.streaks.loses 32 (0.004652)
68. feature team_home.stats_home.wins 5 (0.004355)
69. feature team_home.stats_home.streaks.wins 14 (0.004240)
70. feature team_home.stats_home.streaks.best_goals_against 20 (0.004200)
71. feature team_home.stats_away.streaks.draws 31 (0.004155)
72. feature team_home.stats_away.clean_sheet 28 (0.004144)
73. feature stats_away.fouls 96 (0.003790)
74. feature team_away.stats_home.streaks.loses 53 (0.003745)
75. feature team_home.stats_away.avg_goals_against 27 (0.003635)
76. feature team_away.stats_home.streaks.best_win 54 (0.003556)
77. feature team_home.stats_away.streaks.best_goals_against 36 (0.003548)
78. feature stats_away.corners 97 (0.003547)
79. feature team_away.rank 38 (0.003274)
80. feature team_home.stats_home.streaks.draws 15 (0.003266)
81. feature stats_away.offside 98 (0.003242)
82. feature team_home.stats_away.failed_to_score 29 (0.003107)
83. feature team_away.goals_diff 40 (0.003072)
84. feature team_away.stats_home.streaks.best_goals_for 56 (0.003043)
85. feature team_away.stats_away.wins 58 (0.002974)
86. feature team_away.description 41 (0.002960)
87. feature team_away.points 39 (0.002807)
88. feature team_home.stats_home.streaks.best_lose 18 (0.002703)
89. feature stats_home.saves 86 (0.002443)
90. feature team_away.stats_home.streaks.best_lose 55 (0.002370)
91. feature team_away.stats_home.wins 42 (0.002190)
92. feature team_away.stats_home.streaks.best_goals_against 57 (0.002006)
93. feature team_away.team.id 37 (0.001547)
94. feature team_away.stats_away.streaks.best_win 70 (0.001509)
95. feature team_home.stats_away.goals_against 26 (0.001404)
96. feature team_home.description 4 (0.000000)
97. feature stats_away.s_in 92 (0.000000)
98. feature team_home.stats_away.avg_goals_for 25 (0.000000)
99. feature stats_away.s_off_g 91 (0.000000)

IndexError: index 99 is out of bounds for axis 0 with size 99

In [101]:
print(premise_clf.predict_proba(ts_premise)[0])

[0.2392619  0.15707143 0.60366667]

In [114]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(df_premise, goals_away)
print(reg.score(df_premise, goals_away))
print(reg.predict(ts_premise))

0.928176449295447
[2.06614685]

In [115]:
reg = LinearRegression().fit(df_premise, goals_home)
print(reg.score(df_premise, goals_home))
print(reg.predict(ts_premise))

0.9600307047438789
[4.03018439]

In [106]:
def prob(x, result):
    count = 0
    result = float(result)
    if x["nb"] == result:
        count = count + 1
    if x["nb_fval"] == result:
        count = count + 1
    if x["svm"] == result:
        count = count + 1
    if x["rf"] == result:
        count = count + 1
    return count/4

In [107]:
# Probability
win_result = '1'
lose_result = '-1'
draw_result = '0'
results_laliga["w_p"] = results_laliga.apply(prob, args=(win_result), axis=1)
results_laliga["d_p"] = results_laliga.apply(prob, args=(draw_result), axis=1)
results_laliga["l_p"] = 1 - (results_laliga["w_p"] + results_laliga["d_p"])
results_laliga.head()

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,team_home.stats_home.avg_goals_for,...,wins_away,loses_away,draws_away,svm,nb,nb_fval,rf,w_p,d_p,l_p
396,85,1,68,51,0,12,1,1,44.0,3.1,...,2,2,1,1,1,1,1,1.0,0.0,0.0

In [108]:
results_premise["w_p"] = results_premise.apply(prob, args=(win_result), axis=1)
results_premise["d_p"] = results_premise.apply(prob, args=(draw_result), axis=1)
results_premise["l_p"] = 1 - (results_premise["w_p"] + results_premise["d_p"])
results_premise.head(10)

,team_home.team.id,team_home.rank,team_home.points,team_home.goals_diff,team_home.description,team_home.stats_home.wins,team_home.stats_home.draws,team_home.stats_home.lose,team_home.stats_home.goals_for,team_home.stats_home.avg_goals_for,...,wins_away,loses_away,draws_away,svm,nb,nb_fval,rf,w_p,d_p,l_p
396,85,1,68,51,0,12,1,1,44.0,3.1,...,2,2,1,1,1,1,1,1.0,0.0,0.0

In [109]:
# Adding name columns
results_laliga["team_home.team.name"] = ts_name["team_home.team.name"]
results_laliga["team_away.team.name"] = ts_name["team_away.team.name"]
results_premise["team_home.team.name"] = ts_name["team_home.team.name"]
results_premise["team_away.team.name"] = ts_name["team_away.team.name"]

In [112]:
# csv to save
file_title = 'ligue_copa_2020.csv'
results_file = dirCountry + file_title
file_title = 'ligue_copa_p2020.csv'
results_premise_file = dirCountry + file_title

In [113]:
results_laliga.to_csv(results_file)
results_premise.to_csv(results_premise_file)

In [146]:
# Finding the csv from the league
# Multi League directory
country = 'FR'
dirCountry = '../' + country + '/'
# csv to save
file_title = 'liguecopa_28.csv'
csv_file = dirCountry + file_title
# Testing against current season
current_season = 2019
# Retrieving previous saved data
df_laliga = pd.read_csv(csv_file) 
df_laliga = df_laliga.drop(df_laliga.columns[0], axis=1)
# None values set to 0
df_laliga.fillna(value=0, inplace=True)

In [147]:
weeks = ["28", "27", "26", "25", "24"]

In [154]:
df_psg = df_laliga[(df_laliga["team_home.team.id"]==85) & (df_laliga["week"].isin(weeks))]
df_psg2 = df_laliga[(df_laliga["team_away.team.id"]==85) & (df_laliga["week"].isin(weeks))]
df_psg = pd.concat(df_psg,df_psg2)
df_lyon = df_laliga[(df_laliga["team_home.team.id"]==80) & (df_laliga["week"].isin(weeks))]
df_lyon2 = df_laliga[(df_laliga["team_away.team.id"]==80) & (df_laliga["week"].isin(weeks))]
df_lyon = pd.concat(df_lyon,dflyon2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [149]:
df_lyon.head(5)

,0,1,2,3,4,5,6,7,8,9,...,team_home.stats_home.streaks.best_goals_for,team_home.stats_home.streaks.best_lose,team_home.stats_home.streaks.best_win,team_home.stats_home.streaks.draws,team_home.stats_home.streaks.loses,team_home.stats_home.streaks.wins,team_home.stats_home.wins,team_home.team.id,team_home.team.name,week
325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,0-2,5-0,1.0,1.0,6.0,12.0,85.0,Paris Saint Germain,31
326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,0-2,5-0,1.0,1.0,6.0,12.0,85.0,Paris Saint Germain,20
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,0-2,5-0,1.0,1.0,6.0,12.0,85.0,Paris Saint Germain,26
328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,0-2,5-0,1.0,1.0,6.0,12.0,85.0,Paris Saint Germain,35
329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,0-2,5-0,1.0,1.0,6.0,12.0,85.0,Paris Saint Germain,29